{% extends 'flatpages/default.html' %}
{% block content %}
<html>
<p>&nbsp;</p>
<p>{{ flatpage.content }}</p>
<h2 style="text-align: justify;">Пробная страница cоздана в рамках изучения django</h2>
<h1 class="h3"><strong>Зайчик</strong> серенький</h1>
<p><strong>Зайчик</strong> серенький сидит<br />(<em>Сидим, как зайчик</em>)<br />И<span style="color: #ff0000;"> ушами</span> шевелит,<br />Вот так, вот так!<br />(<em>Шевелим ушками-ладошками</em>)<br /><strong>Зайке</strong> холодно сидеть,<br />Надо <span style="color: #ff0000;">лапочки</span> погреть,<br /><span style="text-decoration: underline;">Хлоп-хлоп, хлоп-хлоп</span>.<br />(<em>Хлопаем в ладоши</em>)<br /><strong>Зайке</strong> холодно стоять,<br />Надо зайке поскакать.<br /><span style="text-decoration: underline;">Скок-скок, скок-скок</span>.<br />(<em>Прыгам, как зайчик</em>)</p>
<p><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-foot-in-mouth.gif" alt="foot-in-mouth" /></p>
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</html>
{% endblock content %}